/*Rafał style _main_application_view*/

body {
  background: $navSidebarColor;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}



//body {
//  background: $headlineColor;
//}
@import url('https://fonts.googleapis.com/css?family=Charmonman:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=latin-ext'); //Open Sans