$navSidebarColor: #5B605F; //- panel boczny, nawigacja
$headlineColor: #4a4a49; //- nagłówek, , kolor tekstu w kolumnach
$buttonsColor: #FF6600; //- przyciski, wyróżnienia, nagłówki ekranów
$bgColorAppColor: #FFFFFA; // - kolor tła ekranów
$infoColor: #3498DB; // - kolor wiadomości typu info,
$warningColor: #FFB03B; //- kolor wiadomości typu warning
$successColor: #468966; // - kolor wiadomości typu success
$binColor: #BD4932; // - kolor ikony kosza
$tabTextColor: #A1A194;  //kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji

//Dodawane Bartek
$whiteSpanColor: white;//kolor pierwszego tekstu w logo
$brownSpanColor: #E58A20;//kolor drugiego wyrazu w logo
$sliderColor: #EBEBEB;//kolor tła slidera

