.container {
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  height: 80%;
  margin-top: 30px;
  margin-left: 35px;
  background: $bgColorAppColor;
  color: #4a4a49;
  padding-bottom: 10px;
  border: 1px #A1A194 dashed;
  font-weight: bold;
}
.messageForm {
  text-align: center;
  margin-bottom: 20px;
}
button.messageForm{
  font-size: 20px;
  height: 2.2em;
  width: 13%;
  margin-top: 10px;
  background-color: $buttonsColor;
  color: $bgColorAppColor;
  font-weight: bold;
  border: 1px solid #FF6600;
  cursor: pointer;
}

h1{
  padding-top: 50px;
}

span{
  padding-bottom: 20px;
  font-size: 1.5em;
}
input{
  width: 30%;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #A1A194;
}
input[type=text]{
  padding: 10px;
}
input[type=text]:focus {
  border: 1px solid #555;
}